[Unit]
Description=Crypto Price Bot (Telegram)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=amal
WorkingDirectory=/home/amal/progetti/CRYPTO-PRICE-BOT
ExecStart=/home/amal/progetti/CRYPTO-PRICE-BOT/venv/bin/python bot.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
